doctype html
html
    head
        title #{title} - picloq
        link(rel='shortcut icon', href='/picloq/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/stylesheets/picloq.css')
    body
      header
        h1 picloq
      .container
        .main-content(align='center')
          block content
      footer
        p Running on node with Express, Jade and Stylus